[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
install = "*"
setuptools = "*"
wheel = "*"
twine = "*"
numpy = "*"
pytest = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.7.17"
